<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#customer" aria-expanded="false" aria-controls="auth">
          <i class="mdi mdi-account-multiple menu-icon"></i>
          <span class="menu-title">Customer</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="customer">
          <ul class="nav flex-column sub-menu" style="list-style-type: none;">
            <li class="nav-item"> <a class="nav-link" href="new_customer">  New Customer</a></li>
      <li class="nav-item"> <a class="nav-link" href="update_customer"> Update Customer</a></li>
            <li class="nav-item"> <a class="nav-link" href="view_all_customer"> View all Customer</a></li>
            <li class="nav-item"> <a class="nav-link" href="view_customer"> View Customer</a></li>
            <li class="nav-item"> <a class="nav-link" href="delete_customer"> Delete Customer</a></li>
            
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#supplier" aria-expanded="false" aria-controls="auth">
          <i class="mdi mdi mdi-nature-people menu-icon"></i>
          <span class="menu-title">Supplier</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="supplier">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="new_supplier">  New Supplier </a></li>
       <li class="nav-item"> <a class="nav-link" href="edit_supplier"> Edit Supplier</a></li>
            <li class="nav-item"> <a class="nav-link" href="view_all_supplier"> View all Supplier </a></li>
            <li class="nav-item"> <a class="nav-link" href="view_supplier"> View Supplier</a></li>
            <li class="nav-item"> <a class="nav-link" href="delete_supplier"> Delete Supplier</a></li>
    
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="auth">
          <i class="mdi mdi-cart-plus menu-icon"></i>
          <span class="menu-title">Sales</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="sales">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="new_sales">  New Sales</a></li>
         <li class="nav-item"> <a class="nav-link" href="edit_sales"> Edit Sales</a></li>
            <li class="nav-item"> <a class="nav-link" href="view_all_sales"> View all Sales </a></li>
            <li class="nav-item"> <a class="nav-link" href="view_sales"> View Sales</a></li>
            <li class="nav-item"> <a class="nav-link" href="view_sales_invoice"> Sales Invoice</a></li>
            <li class="nav-item"> <a class="nav-link" href="delete_sales"> Delete Sales</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#purchase" aria-expanded="false" aria-controls="auth">
          <i class="mdi mdi-database-plus menu-icon"></i>
          <span class="menu-title">Purchases</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="purchase">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class=" nav-link" href="new_purchase">  New Purchase</a></li>
          <li class="nav-item"> <a class="nav-link" href="edit_purchase"> Edit Purchase</a></li> 
            <li class="nav-item"> <a class="nav-link" href="view_all_purchases"> View all Purchase </a></li>
            <li class="nav-item"> <a class="nav-link" href="view_purchase"> View Purchase</a></li>
            <li class="nav-item"> <a class="nav-link" href="view_purchase_invoice"> Purchase Invoice</a></li>
            <li class="nav-item"> <a class="nav-link" href="delete_purchases"> Delete Purchase</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#product" aria-expanded="false" aria-controls="auth">
          <i class="mdi mdi-cart menu-icon"></i>
          <span class="menu-title">Product</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="product">
          <ul class="nav flex-column sub-menu">
            
            <li class="nav-item"> <a class="nav-link" href="new_product">  New Product </a></li>
         <li class="nav-item"> <a class="nav-link" href="edit_product"> Edit Product</a></li>
            <li class="nav-item"> <a class="nav-link" href="view_all_product"> View all Product </a></li>
            <li class="nav-item"> <a class="nav-link" href="view_product"> View Product</a></li>
            <li class="nav-item"> <a class="nav-link" href="delete_product"> Delete Product</a></li>
          </ul>
        </div>
      </li>
  
     
     
    </ul>
  </nav>